<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.SuiteListener">
        </listener>
    </listeners>
    <test thread-count="5" name="ChromeTest">
        <parameter name="browser" value="chrome">
        </parameter>
        <classes>
            <class name="qa.tests.TC01">
                <methods>
                    <include name="loginToApplicationByEnteringCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>